@model FP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



<div class="row login">
    <div class="col-sm-6">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h3>Create an account</h3>
                <hr />

                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "" })

                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "" })

                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "" })

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "" })

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary btn-lg btn-block">  <i class="fas fa-check"></i> Register</button>


                </div>
            }
        </section>
    </div>
    <div class="col-sm-4 warning-info">
        <section>
            <h2>&nbsp;</h2>
            <p>The information recorded in this system is owned by Lake Maintenance Pty Ltd & is used for managing assets on behalf of clients. The information is confidential and should not be used for any purpose other than completing the tasks assigned to user. If you are not an authorised user please leave this site.</p>
        </section>
    </div>
</div>











@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
